{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    
    <div class="container">
        <div class="col">
            <h1>Administration</h1>
            <p>Bienvenue dans l'interface d'administration</p>
        </div>    
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3">{{ Auteurs['nbauteurs'] }}</span><br />Auteurs
            </div>
            <div class="col-6 alert-success">
                <span class="display-3">{{ Produits['nbproduits'] }}</span><br />Bandes dessinées
            </div>
        </div>
    </div>    
{% endblock %}   