{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

{% if age > 18 %}
<p>Tu es majeur</p>
{% else %}
<p>Tu es mineur</p>
{% endif %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quia delectus deserunt animi ad accusantium dolor reiciendis, vero ducimus odit sunt exercitationem minus dicta nemo ex et ratione. Ea, qui!</p>
{% endblock %}
