{% extends 'base.html.twig' %}

{% block title %}La liste des auteurs{% endblock %}

{% block body %}
    <h1>La liste des auteurs</h1>
    {% for auteur in auteurs %}
    <p><a href="{{ path('bd_show', {id :auteur.id}) }}">{{ auteur.auteur }}</a></p>
    {% endfor %}
{% endblock %}
